@media screen and (max-width:768px){
/*   상단   */
    header{
        width: 100%;
    }
    header .wrap h1.logo a{
        width: 50px;
        height: 50px;
    }
    header .wrap h1.logo a:hover{
        width: 50px;
        height: 50px;
    }
    header .wrap ul.menu{
        display: none;
    }
    header .wrap a.go{
        display: none;
    }
    header .wrap a.ham{
        display: block;
        width: 25px;
        height: 20px;
        background-image: url(../img/ham-w.svg);
        background-size: cover;
        font-size: 0;
    }
    header .wrap a.ham:hover{
        background-image: url(../img/ham-p.svg);
        background-size: cover;
    }
/*  타이틀    */
    div#title{

    }
    div#title .wrap{
        height: 812px;
    }
    div#title h2{ 
        font-size: 70px;
        padding-top: 100%;
    }
    div#title h2 + p{
        font-size: 14px;
    }
    div#title h2 + p + p{

    }
    div#title span{

    }
    div#title a.shop{
        bottom: 37px;
        width: 150px;
        padding: 10px 20px;
    }
/*   메인   */
    
     /*    회사소개     */
    #company::before{
        background-size: 270%;
    }
    #company .wrap h2{
        font-size: 20px;
    }
    #company .wrap p{
        font-size: 20px;
        padding-top: 30px;
    }
    #company .wrap p span.block{
        display: none; 
    }
    #company::after{
        background-size: 270%;
    }
    /*    서비스     */
    #service{
        height: 100%;
    }
    #service .wrap{
        padding-bottom: 0;
        border-bottom: 0;
        height: 100%;
    }
    #service .wrap h2{
        font-size: 20px;
        padding-bottom: 15px;
    }
    #service .wrap p.subject2{
        padding-bottom: 50px;
    }
    #service .wrap::before{
        top: 67px;
    }
    #service .wrap ul{
        gap: 40px;
        /*! overflow: scroll; */
        height: 100%;
        flex-direction: column;
    }
    #service .wrap ul li{
        width: 100%;
        display: block; 
        padding: 30px;
        height: 600px;
        /*! flex-shrink: 0; */
        background-size: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #service .wrap ul li .up{   
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #service .wrap ul li h3{
        font-size: 15px;
    }
    #service .wrap ul li h3::after{
        padding-top: 30px;
    }
    #service .wrap ul li p{
        font-size: 13px;
    }
    #service .wrap ul li .up > p{   
        /*! height: 100%; */
        padding-top: 20px;
        /*! margin-top: 0; */
        font-size: 15px;
        line-height: 1.4;
    }
    #service .wrap ul li .overcontents{   
        height: 100%;
    }
    #service .wrap ul li .overcontents h3{
        margin-top: 30px
    }
    #service .wrap ul li .overcontents img{
        height: 120px;
        padding: 100px 0;
    }
    #service .wrap ul li .overcontents p{
        padding: 0 20px;
    }
    #service .wrap ul li .overcontents p.p{
        
    }
    #service .wrap ul li .overcontents p.p2{
        padding-top: 10px;
    }
    /*  히스토리    */
    #history .wrap{
        padding-bottom: 0;
        border-bottom: 0; 
        flex-direction: column;
    }
    #history .wrap::before{
         top: 67px;
    }
    #history .wrap hgroup{
        width: 100%;
        text-align: center;
    }
    #history .wrap hgroup h2{
        font-size: 20px;
    }
    #history .wrap hgroup h3{
        font-size: 18px;
    }
    #history .wrap hgroup h3>.block{
        display: block;
    }
    #history .wrap .right{
        margin: 50px 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        /*! justify-content: center; */
        border: 0;
    }
    #history .right{

    }
    #history .right h3{
        /*! padding: 0; */
        width: 100%;
        padding: 20px 0;
        box-sizing: border-box;
        text-align: center;
        line-height: 1.4;
        font-size: 18px;
        border: 0;
        border-top: 1px solid;
        border-bottom: 1px solid;
        padding: 10px 0;
    }
    #history .right h3 span{
        /*! display: none; */
    }
    #history .right ul.list{
        width: 100%;
        padding: 0;
        box-sizing: border-box;
        overflow: hidden;
    }
    #history .right ul.list li{

    }
    #history .right ul.list li a{
        font-size: 15px;    
        width: 100%;
        margin: 10px 0 10px 0;
    }
    #history .right ul.list li a::after{
        content: "";
    }
    #history .right ul.list li a:hover{
        font-size: 15px;   
    }
    #history .right ul.list li:hover a::after{
        content: "";
    }
    /*   오시는길   */
    #location .wrap{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 100px;
        /*! text-align: center */
    } 
    #location .wrap iframe{
        width: 100%;
        height: 400px;
    }
    #location .wrap div.right{
        position:static;
        padding: 0 50px;
        width: 100%;
        /*! position: relative; */
        box-sizing: border-box;
        height: 100%;
        box-shadow: none;
        padding-bottom: 30px;
    }
    #location .wrap div.right hgroup{
        text-align: center;
    }
    #location .wrap div.right hgroup h2.subject{
        font-size: 20px;
    }
    #location .wrap div.right hgroup h3.subject2{
        margin-bottom: 60px;
        padding: 0;
    }
    #location .wrap div.right p{
        display: block;
        width: 300px;
        margin: 0 auto;
    }
    #location .wrap div.right a{
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
/*  하단    */
    footer .wrap{ 
        padding: 30px 0;
    }
    footer .wrap::before{
        content: "";
        padding: 20px;
    }
    footer .wrap h1 a{
        /*! display: inline-block; */
        line-height: 1.8;
        font-size: 0;
        top: 30px;
        left: 0;
        width: 60px;
        height: 60px;
    }
    footer .wrap h2{
        display: none;
    }
    footer .wrap a.sitemap{
        display: none;
    } 
    footer .wrap address{
        font-size: 12px;
        padding-top:33px;
        margin-top: 40px;
        display: inline-block;
        line-height: 1.8;
    }
    footer .wrap address strong{
        margin-right: 10px;
    }
    footer .wrap p.copy{
        font-size: 12px;
        padding-top: 10px;
    }
    footer .wrap p.tell{
        font-size: 15px;
        position: absolute;
        top: 45px;
        right: 0;
        text-align: right;
    } 
    footer .wrap p.tell strong{
        font-size: 18px;
        margin-left: 5px;
    }

}